{% extends "main.html" %}

{% block content %}

<section id="table">
    {{ include('auction_items_table.html') }}
</section>

<section id="form">
    {{ include('auction_items_form.html') }}
</section>

{% endblock %}
