<form class="form-rows" method="post" action="/auction/items/store" id="newAuctionItem">

    {% include 'form_error.html' with {
        'err': oldInput.errorsKeyed.title
    } only %}
    <div class="form-row">
        <label for="item_title">Title</label>
        <input
                required maxlength="100"
                placeholder=""
                id="item_title"
                name="title"
                type="text"
                value="{{ oldInput.title }}"
        />
    </div>

    {% include 'form_error.html' with {
        'err': oldInput.errorsKeyed.year_of_manufacture
    } only %}
    <div class="form-row">
        <label for="year_of_manufacture">Year of manufacture</label>
        <select name="year_of_manufacture" id="year_of_manufacture">
            {% for year in years %}
                {% if oldInput.year_of_manufacture == year %}
                    <option selected="selected" value="{{ year }}">{{ year }}</option>
                {% else %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    {% include 'form_error.html' with {
        'err': oldInput.errorsKeyed.initial_price}
    only %}
    <div class="form-row">
        <label for="initial_price">Initial price (EUR)</label>
        <input
                required min="0.01" step="0.01"
                placeholder="0,01"
                id="initial_price"
                name="initial_price"
                type="number"
                value="{{ oldInput.initial_price }}"
        />
    </div>

    <div class="form-row">
        <label>Parameters</label>
        <div id="parameters" class="form-rows"></div>
        <button id="addParameter" type="button">(+) Add parameter</button>
    </div>

    <button type="submit">Submit</button>
</form>
