<table>
    <thead>
        <th>Title</th>
        <th>Year of manufacture</th>
        <th>Initial price</th>
        <th>Parameters</th>
        <th>Created at</th>
        <th>Action</th>
    </thead>
    <tbody>
        {% for auctionItem in auctionItems %}
            <tr data-item-row>
                <td data-item-title>{{ auctionItem.title }}</td>
                <td>{{ auctionItem.yearOfManufacture }}</td>
                <td>&euro; {{ auctionItem.initialPriceEur }}</td>
                <td>
                    <ul>
                    {% for parameter in auctionItem.parameters %}
                        <li>{{ parameter.name }} - {{ parameter.value }}</li>
                    {% endfor %}
                    </ul>
                </td>
                <td>{{ auctionItem.createdAt }}</td>
                <td>
                    <button data-action="delete" data-id="{{ auctionItem.id }}">Delete</button>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
