<html>
<head>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <title>Auction app</title>
</head>
<body>
    <header><h3>Auction item app at your service.</h3></header>

    {% block content %}{% endblock %}

    <footer>
        <div id="messages"></div>
        <div id="no-js-msg">Please consider enabling javascript.</div>
        {% block footer %}
            &copy; Copyright {{ "now"|date('Y') }}.
        {% endblock %}
    </footer>

    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/main.js"></script>

</body>
</html>
