/* common */
body, html {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: roboto, arial, sans-serif;
    color: #353535;
    background: #f5f5f5;
}
::-webkit-scrollbar {
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #353535
}
h3, h1 {
    text-align: center;
}
table {
    border-spacing: 10px;
}

/* layout */
@supports (display: grid) {
    /* current grid support is ~80% */
    body {
        padding: 7px;
        display: grid;
        grid-template-rows: 70px auto 18px;
        grid-template-columns: auto auto;
        width: 100vw;
        height: 100vh;
        grid-column-gap: 4px;
    }
    body > footer {
        grid-column: 1 / -1;
        grid-row: 3 / span 1;
    }
    body > header {
        grid-column: 1 / -1;
        grid-row: 1 / span 1;
    }
    body > section {
        overflow-y: scroll;
    }
    body > section#table {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
        word-break: break-all;
        white-space: pre-wrap;
    }
    body > section#form {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }

}
@supports not (display: grid) {
    /* layout fallback */
    footer {
        position: fixed;
        bottom: 5px;
        left: 5px;
    }
    body > section {
        width: 50%;
        display: block;
        float: left;
    }
}

/* form & form-error */
.form-row > label::after {
    content: ':';
}
.form-row > label {
    margin: 5px;
}
.form-row {
    padding: 5px 10px;
    border-left: 5px #5e5e5e solid;
    display: block;
}
.error {
    color: red;
    padding: 0px 10px;
    font-size: 12px;
    font-family: monospace;
}
.error + .form-row::before {
    content: '*';
    font-size: 12px;
    color: red;
}

/* no-js & notice */
@keyframes slideInFromLeft {
    0% {transform: translateX(300%);}
    100% {transform: translateX(0);}
}
#no-js-msg {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
    color: red;
    position: fixed;
    bottom: 0;
    right: 0;
}
.toast {
    position: fixed;
    bottom: 10px;
    font-size: 22px;
    padding: 20px;
    margin: 5px;
    border: 2px solid;
    display: inline-block;
}

/* botton */
button {
    position: relative;
    text-decoration: none;
    padding: 1px 7px 2px;
    font: 400 11px system-ui;
    transition: border, background-color .2s;
    border: #353535 solid 3px;
    background-color: #575757;
    margin: 0 10px;
    cursor: pointer;
    color: #f5f5f5;
}
button[disabled] {
    opacity: .4;
    cursor: not-allowed;
}
button:hover {
    border-color: #6a6a6a;
    background-color: #6a6a6a;
}
button:focus {
    background-color: #6a6a6a;
    outline-style: none;
    text-decoration: underline;
}
button.loading::before {
    content: 'loading..';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: white;
    color: black;
    right: 0;
}
button.loading {
    pointer-events: none;
}

